{{> head}}
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12"><h2>Data Kategori</h2></div>
			<div class="col-md-4">
				<form action="./save_Kategori" method="post">
					<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o fa-1x"></i> Save</button>
					<button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-refresh fa-1x"></i> Reset</button> 
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Kode</label>
						<div class="col-sm-10">
							<input type="text" name="kode_kat" class="form-control" id="" placeholder="Nama Kode Kategori">
						</div>
					</div> 
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Nama</label>
						<div class="col-sm-10">
							<input type="text" name="nama" class="form-control" id="" placeholder="Nama Kategori produk">
						</div>
					</div> 
				</form>
			</div>
			<div class="col-md-8">
				<table class="table table-sm table-dark table-hover table-bordered text-center" id="data">
					<thead class="">

						<tr>
							<th scope="col" width="2%">Kode</th>
							<th scope="col" width="25%" class="text-left">Nama</th>
							<th scope="col" width="8%" colspan="2">Action</th>
						</tr>
					</thead>
					<tbody>
						{{#each results}}
						<tr>
							<th scope="row">{{kode_kat}}</th> 
							<td class="text-left">{{nama}}</td>
							<td>
								<a href="javascript:void(0);" class="btn btn-outline-info btn-sm edit" data-id="{{ id }}" data-nama="{{ nama }}" data-kode_kat="{{ kode_kat }}"><i class="fa fa-pencil-square fa-1x"></i></a> 
							</td>
							<td><a href="javascript:void(0);" class="btn btn-outline-danger btn-sm delete" data-id="{{ id }}"><i class="fa fa-trash fa-1x"></i></a></td>
						</tr>
    					{{/each}}
					</tbody>
				</table>
			</div>
		</div><!-- .//Row -->
	</div><!-- .//Container -->
</div> <!-- .//Jumbotron -->

<!-- Edit Kategori Modal-->
<form action="/update_kategori" method="post">
 <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Kategori</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group row">
      		<label for="inputPassword" class="col-sm-2 col-form-label">Kode</label>
      		<div class="col-sm-10">
      			 <input type="text" name="kode_kat" class="form-control kode_kat" placeholder="Kode Kategori" disabled="">
      		</div>
      	</div> 
      	<div class="form-group row">
      		<label for="inputPassword" class="col-sm-2 col-form-label">Nama</label>
      		<div class="col-sm-10">
      			<input type="text" name="nama" class="form-control nama" placeholder="Nama Kategori" required>
      		</div>
      	</div>  
      </div>
      <div class="modal-footer">
        <input type="hidden" name="id" class="id">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Delete Kategori Modal-->
<form id="add-row-form" action="/delete_kategori" method="post">
 <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="myModalLabel">Delete Kategori</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-body">
       <strong>Are You Sure To Delete This Data?</strong>
     </div>
     <div class="modal-footer">
      <input type="hidden" name="id" class="form-control id_delete" required>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-success">Delete</button>
    </div>
  </div>
</div>
</div>
</form>

<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
  $(document).ready(function(){
	  //showing data to modal for edit record
      $('#data').on('click','.edit',function(){
        var id = $(this).data('id');
        var kode_kat = $(this).data('kode_kat');
        var nama = $(this).data('nama');
        $('#EditModal').modal('show');
        $('.nama').val(nama);
        $('.kode_kat').val(kode_kat);
        $('.id').val(id);
      });
			//showing modal for delete record
		$('#data').on('click','.delete',function(){
        var id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.id_delete').val(id);
      });

    });
  </script> 
{{> footer}}